/* Full-screen container */
.uc-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #073C4E; /* or your background */
}

/* The positioned stacking area */
.uc-stack {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Bottom Goose (scales with screen) */
.uc-goose {
  position: absolute;
  bottom: 0;
  top: auto;
  right: -25%;

  width: auto;
  height: 110vh;
  
  object-fit: cover;
  z-index: 1;
}

/* Construction Tape */
.uc-tape {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover;
  z-index: 3;
}

/* Title Text */
.uc-text {
  position: absolute;
  top: 37.9vh;
  left: 12.43vw;

  width: 35vw;
  height: auto;

  object-fit: contain;
  z-index: 2;
}

@media (max-width: 1414px) {
  .uc-goose {
    right: -35%;
  }
}

@media (max-width: 1185px) {
  .uc-goose {
    height: 100vh;
    right: -40%;
  }
  .uc-text {
    top: 25vh;
    width: 40vw;
  }
}

@media (max-width: 985px) {
  .uc-goose {
    height: 100vh;
    right: -50%;
  }
  .uc-text {
    top: 18vh;
    width: 50vw;
  }
}

/* @media screen and (max-aspect-ratio: 1440/818) {
  .uc-goose {
    width: auto;
    height: 110vh;    
    bottom: 0;   
    top: auto;          
    left: 0%;           
  }

  .uc-text {
    width: 32vw;
    height: auto;
    left: 11vw;
    top: 32vh;
  }
}

@media (max-width: 1024px) {

  .uc-goose {
    width: auto;
    height: 110vh;
    left: 0%;
    bottom: 0;
    top: auto;
  }
  
  .uc-text {
    width: 40vw;
    height: auto;
    left: 10vw;
    top: 25vh;
  }
  
}

@media (max-width: 900px) {

  .uc-goose {
    width: auto;
    height: 110vh;
    left: -8%;
    bottom: 0;
    top: auto;
  }
  
  .uc-text {
    width: 40vw;
    height: auto;
    left: 10vw;
    top: 25vh;
  }
  
}

/* ==========================
   TABLET (approx < 1024px)
========================== */
/* @media (max-width: 815px) {

  .uc-goose {
    width: auto;
    height: 105vh;
    left: -8%;
    bottom: 0;
    top: auto;
  }

  .uc-text {
    width: 50vw;
    height: auto;
    left: 10vw;
    top: 25vh;
  }

}

@media (max-width: 740px) {

  .uc-goose {
    width: auto;
    height: 105vh;
    left: -15%;
    bottom: 0;
    top: auto;
  }

  .uc-text {
    width: 50vw;
    height: auto;
    left: 10vw;
    top: 25vh;
  }

}



/* ==========================
   MOBILE (approx < 600px)
========================== */
/* @media (max-width: 675px) {

  .uc-goose {
    width: auto;
    height: 100vh;
    left: -15%;
    bottom: 0;
    top: auto;
  }

  .uc-text {
    width: 70vw;
    height: auto;
    left: 10vw;
    top: 15vh;
  }
}

@media (max-width: 640px) {

  .uc-goose {
    width: auto;
    height: 100vh;
    left: -20%;
    bottom: 0;
    top: auto;
  }

  .uc-text {
    width: 70vw;
    height: auto;
    left: 10vw;
    top: 15vh;
  }
}

@media (max-width: 600px) {

  .uc-goose {
    width: auto;
    height: 100vh;
    left: -30%;
    bottom: 0;
    top: auto;
  }

  .uc-text {
    width: 70vw;
    height: auto;
    left: 10vw;
    top: 15vh;
  }
}

@media (max-width: 575px) {

  .uc-goose {
    width: auto;
    height: 100vh;
    left: -35%;
    bottom: 0;
    top: auto;
  }

  .uc-text {
    width: 70vw;
    height: auto;
    left: 10vw;
    top: 15vh;
  }
}

@media (max-width: 550px) {

  .uc-goose {
    width: auto;
    height: 100vh;
    left: -40%;
    bottom: 0;
    top: auto;
  }

  .uc-text {
    width: 70vw;
    height: auto;
    left: 10vw;
    top: 15vh;
  }
}

@media (max-width: 500px) {

  .uc-goose {
    width: auto;
    height: 100vh;
    left: -50%;
    bottom: 0;
    top: auto;
  }

  .uc-text {
    width: 70vw;
    height: auto;
    left: 10vw;
    top: 15vh;
  }
}

@media (max-width: 435px) {

  .uc-goose {
    width: auto;
    height: 100vh;
    left: -70%;
    bottom: 0;
    top: auto;
  }

  .uc-text {
    width: 70vw;
    height: auto;
    left: 10vw;
    top: 15vh;
  }
}

@media (max-width: 405px) {

  .uc-goose {
    width: auto;
    height: 100vh;
    left: -80%;
    bottom: 0;
    top: auto;
  }

  .uc-text {
    width: 70vw;
    height: auto;
    left: 10vw;
    top: 15vh;
  }
}
 */ 
